<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs nav-justified" role="tablist">
		  <li><h1 class="text-thin">Dashboard</h1></li>
		  <li><a href="" data-chart-type="barChart" id="bar">Bar Chart</a></li>
		  <li ><a href="" data-chart-type="radarChart" id="radar">Radar Chart</a></li>
		  <li ><a href="" data-chart-type="lineChart" id="line">Line Chart</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-3">

		<div class="list-group">
			<a href="#users/<%=user.get('id')%>/dashboard" class="list-group-item change-metric" data-metric-method="getMiles">
			Miles
			</a>
			<a href="#users/<%=user.get('id')%>/dashboard" data-metric-method="getNetTime" class="list-group-item change-metric">Duration</a>
			<a href="#users/<%=user.get('id')%>/dashboard" data-metric-method="getAverageHR" class="list-group-item change-metric">Avg Heart Rate</a>
			<a href="#users/<%=user.get('id')%>/dashboard" data-metric-method="getCalories" class="list-group-item change-metric">Calories</a>
			<a href="#users/<%=user.get('id')%>/dashboard" class="list-group-item change-metric" data-metric-method="getElevations">Elevation Gain</a>
		</div>
		<div class="form-group">
			<h1 class="text-thin">Time Period</h1>
            <div class="icon-addon addon-lg">
                <select class="form-control">
                    <option data-filter="day">Per Day</option>
                    <option data-filter="week">Per Week</option>
                    <option data-filter="month">Per Month</option>
                    <option data-filter="year">Per Year</option>
                </select>             
            </div>
        </div>
	</div>

	<div class="col-md-9">
		<canvas id="myChart" width="800" height="400"></canvas>
	</div>
</div>


