<div class="row">
	<div class="col-md-12">
		<div class="name-display text-thin super-big text-center">
			<span class="type-display"></span> 
			/
			<span class="time-display"></span>
		</div>
		<ul class="nav nav-tabs nav-justified" role="tablist">
		  <li><h1 class="text-thin">Dashboard</h1></li>
		  <li><a href="" data-chart-type="barChart" id="bar">Bar Chart</a></li>
		  <li ><a href="" data-chart-type="radarChart" id="radar">Radar Chart</a></li>
		  <li ><a href="" data-chart-type="lineChart" id="line">Line Chart</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-3">

		<div class="list-group">
			<a href="#users/<%=user.get('id')%>/dashboard" class="list-group-item change-metric" id="miles" data-metric-method="getMiles">
			Miles
			</a>
			<a href="#users/<%=user.get('id')%>/dashboard" 
				data-metric-method="getNetTime" 
				id="duation" class="list-group-item change-metric">
				Duration
			</a>
			<a href="#users/<%=user.get('id')%>/dashboard" 
				data-metric-method="getAverageHR" 
				class="list-group-item change-metric" 
				>Avg Heart Rate
			</a>
			<a href="#users/<%=user.get('id')%>/dashboard" 
				data-metric-method="getCalories" 
				class="list-group-item change-metric"
				>Calories
			</a>
			<a href="#users/<%=user.get('id')%>/dashboard" 
				class="list-group-item change-metric" 
				data-metric-method="getElevations"
				>Elevation Gain
			</a>
		</div>

		<div class="form-group">
			<h1 class="text-thin">Time Period</h1>
            <div class="icon-addon addon-lg">
                <select class="form-control time-period">
                	<option>Select Rate</option>
                    <option data-date-interval="1">Daily</option>
                    <option data-date-interval="7">Weekly</option>
                    <option data-date-interval="31">Monthly</option>
                    <option data-date-interval="365">Yearly</option>
                </select>             
            </div>
        </div>
	</div>
	<div class="col-md-9">
		
		<canvas id="myChart" width="800" height="400"></canvas>

	</div>
</div>


