<div class="col-md-12">

	<div class="row pannel well">
		<h1 class="text-center">Account Details</h1>
		<div class="col-md-8 col-md-offset-2 text-center">
			<img src= "http://pmcvariety.files.wordpress.com/2014/07/sons-of-anarchy-season-7-fx.jpg?w=670&h=377&crop=1" class="profile-pic">
		</div>

		<form id="personal-stat-form">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-3">
						<label for="username">Username</label>
						<input id="username" class="form-control" value="<%=user.get('username')%>" name="user[username]">

						<label for="old-password">Old Password</label>
						<input id="old-password" class="form-control" value="<%=user.get('old-password')%>"name="user[old-password]">
					</div>

					<div class="col-md-3">
						<label for="days-active">days active</label>
						<input id="days-active" class="form-control" value="<%=user.get('days-active')%>"name="user[days-active]">
						
						<label for="new-password">New Password</label>
						<input id="new-password" class="form-control" value="<%=user.get('new-password')%>"name="user[new-password]">
					</div>
				</div>
				<br>
				<div class="row">
					<input type="submit" class="btn btn-primary col-md-6 col-md-offset-3">
				</div>
			</div>
			
		</form>

	</div>
	
	<div class="row pannel well">
		<h1 class="text-center">Personal Stats</h1>
		<form id="personal-stat-form">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-3">
						<label for="age">Age</label>
						<input id="age" class="form-control" value="<%=user.get('age')%>" name="user[age]">
						<label for="weight">Weight</label>
						<input id="weight" class="form-control" value="<%=user.get('weight')%>"name="user[weight]">
					</div>

					<div class="col-md-3">
						<label for="gender">Gender</label>
						<input id="gender" class="form-control" value="<%=user.get('gender')%>"name="user[gender]">
						<label for="height">Height</label>
						<input id="height" class="form-control" value="<%=user.get('height')%>"name="user[height]">
					</div>
				</div>
				<br>
				<div class="row">
					<input type="submit" class="btn btn-primary col-md-6 col-md-offset-3">
				</div>
			</div>
			
		</form>
	</div>

	<div class="row pannel well">
		<h1 class="text-center">Location</h1>
		<form id="personal-stat-form">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-3">
						<label for="age">Country</label>
						<input id="age" class="form-control" name="user[country]">
						<label for="weight">Street Address</label>
						<input id="weight" class="form-control" name="user[street_address]">
					</div>

					<div class="col-md-3">
						<label for="gender">Zip Code</label>
						<input id="gender" class="form-control" name="user[zip_code]">
						<label for="height">State</label>
						<input id="height" class="form-control" name="user[state]">
					</div>
				</div>
				<br>
				<div class="row">
					<input type="submit" class="btn btn-primary col-md-6 col-md-offset-3">
				</div>
			</div>
			
		</form>
	</div>

</div>