<div class="pannel well">
<% users.each(function(user) {  %>
	
		<div class="row">

			<div class="col-md-4 text-center">
				<img src="<%=user.get('image_url')%>" class="profile-pic">
				<a href=<%="#users/" + user.get('id')%>>	
					<h3 class="text-thin"><%= user.get('username')%></h3>
				</a>
			</div>

			<div class="col-md-4 text-thin recent-activities-display">
				<h1 class="text-thin text-center">Recent Activities</h1>
				<table class="table">
					<tr>
						<td>Type</td>
						<td>Calories</td>
						<td>Average HR</td>
						<td>Time</td>
					</tr>
					<% var count = 0,
						ranking = parseInt(user.posts().length/20);%>

					<% user.posts().forEach(function(post){ %>
						<% if (count < 5) { %>
							<tr>
								<td class="text-thin">
									<%=post.get('workout_type')%>
								</td>
						
								<td>
									<%=post.get('calories')%>
								</td>
								<td>
									<span class="glyphicon glyphicon-heart-empty heart red"></span> 
									<%=post.get('heart_rate')%>
								</td>
						
								<td>
									<%=post.get('minutes')%> m 
								</td>
							</tr>
							<% count += 1 %>
						<% } %>
					<% }); %>
				</table>
			</div>

			<div class="col-md-4 text-center text-thin">
				<!-- add chart, create chart view, give it a metric and chart type weekly filter-->
				<div class="stats-display">
					<h3 class="text-thin">Followers </h3> <br>
					<h3>20</h3>
					<h3 class="text-thin">Ranking </h3> <br>
					<div class="row">
						<% if (ranking === 0) {%>
							
								<img src="assets/slow.jpeg" class="ranking-icon">
							
						<% } else if(ranking === 1) { %> 
							
								<img src="assets/medium.png" class="ranking-icon">
							
						<% } else {%>
							
								<img src="assets/elite.jpeg" class="ranking-icon">
							
						<% } %>
					</div>
					<h3 class="text-thin">Points </h3> <br> <h4 ><%=user.posts().length%></h4>
				</div>
			</div>

		</div>
		<hr>

<% }); %>
</div>




