
<aside class="left col-md-3">
		<div class="pannel well">
			<% if(user.get('image_url')) { %>
				<img src= "<%=user.get('image_url')%>" class="profile-pic">
			<%} else  { %>
				<div class="changePhoto transparent-display" style="cursor: pointer">
					Click to upload an epic running photo
				</div>
			<% } %>
			
			<div class="row">
				<div class="col-sm-3">
					<%= user.get('username') %>
				</div>
			</div>
		</div>
<% if (TrakMyRun.CurrentUser === user.get('id')) { %>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
	                </span>Content</a>
	            </h4>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in">
	            <div class="panel-body">
	                <table class="table">
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-flash text-success"></span>
	                            <a href="/#users">The Hub</a>
	                        </td>
	                    </tr>
	           
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
	                            <span class="badge"></span>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		        <div class="panel-heading">
		            <h4 class="panel-title">
		                <span class="glyphicon glyphicon-user">
		                </span>Account
		            </h4>
		        </div>
	        </a>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	                <table class="table">
	                	<a href="/#users/<%= user.get('id') %>" id="home">
							<tr>
							    <td>
							        <span class="glyphicon glyphicon-home text-info">
							        </span>Home
							    </td>
							</tr>
	                    </a>
	                	<tr class="changePhoto">
	                        <td>
	                            <span class="side-nav-link" >Change Photo</span>
	                        </td>
	                    </tr>
	                    <tr class="changePassword">
	                        <td>
	                            <span class="side-nav-link" >Change Password</span>
	                        </td>
	                    </tr>
	                    <tr class="updateInfo">
	                        <td>
	                            <span class="side-nav-link">Update Info</span>
	                        </td>
	                    </tr>
	                    <tr class="changeAddress">
	                        <td>
	                            <span class="side-nav-link">Update Address</span>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>
	    <% } %>
		<aside class="left pannel well">
			<h1 class='text-center'>Recent Routes</h1>
			<% user.maps().each(function(map){ %>
				<li> <a href=<%="#maps/"+map.get('id')%>>
						<% map.get('name') %> <%= map.get('id')%>th run 
						<%= map.get('total_miles') %> Miles at 
						<%=map.get('created_at')%> 
					</a>
				</li>
			<%	}) %>
		</aside>
</aside>



<section class="feed-content col-md-8  col-md-offset-1 ">
	<div class="posts-container">
		<h1 class="text-thin text-center feed">Activity</h1>	
	</div>
</section>



