
<div class=".container">
<section class="col-md-4 col-md-offset-4 sign-in text-center"> <!--may want to wrap this around yield, just want to get full back pic-->
	<h1 class="text-center">Sign In</h1>
	<%= render :partial => "layouts/errors"%>
	<form action="<%=session_index_url%>" method="post">
		<div class="form-group">
			<label for="username">Username</label>
			<input id="username" placeholder="Username" name="user[username]" class="form-control">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" placeholder="Password" type="password" name="user[password]" class="form-control">
		</div>

		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<input type="submit" value="Sign In" class="btn btn-default">
	</form>

	<form action="<%=users_url%>" method="post" class="form">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<input type="hidden" name="user[username]" value="GuestUser">
		<input type="hidden" name="user[password]" value="guestuser2691">
		<input type="submit" value="Sign In As Guest User" class="btn btn-primary">
	</form>
</section>
</div>