<div class="panel well col-md-4 "> 
	<div class="row">
		<div class="col-md-4 col-offset-md-2">
			<h4>Workout Type:</h4> <%= post.get('workout_type') %>
			<table class="table">
				<tr>
					<td>Hours</td>
					<td><%=post.get('hours')%></td>
				</tr>
				<tr>
					<td>Minutes</td>
					<td><%=post.get('minutes')%></td>
				</tr>
				<tr>
					<td>Seconds</td>
					<td><%=post.get('seconds')%></td>
				</tr>
				<tr>
					<td>Calories</td>
					<td><%=post.get('calories')%></td>
				</tr>
			</table>	
		</div>

		<div>
			Lorem ipsum dolor sit amet, eget mollis velit elit vestibulum suspendisse lectus, non ut congue id ipsum, pellentesque consequat, at turpis malesuada in dictum mollis, luctus turpis dui tristique ut in a.
		</div>
	</div>
</div>