
	<div class="row pannel well activity">
		<span class="pull-right delete-view" data-post-id="<%=post.get('id')%>">
			X
		</span>
		<div class="col-sm-6">
			<h4>Workout Type: <%= post.get('workout_type') %></h4>
			<table class="table col-sm-6">
				<tr>
					<td>Hours</td>
					<td><%=post.get('hours')%></td>
				</tr>
				<tr>
					<td>Minutes</td>
					<td><%=post.get('minutes')%></td>
				</tr>
				<tr>
					<td>Seconds</td>
					<td><%=post.get('seconds')%></td>
				</tr>
				<tr>
					<td>Calories</td>
					<td><%=post.get('calories')%></td>
				</tr>
			</table>	
		</div>

		<div class="col-sm-5 col-sm-offset-1">
		<h3>Description</h3>
			Lorem ipsum dolor sit amet, eget mollis velit elit vestibulum suspendisse lectus, non ut congue id ipsum, pellentesque consequat, at turpis malesuada in dictum mollis, luctus turpis dui tristique ut in a.
		</div>
		<div class="col-sm-12">
		<hr>
		<h3>Comments</h3>
			<% if(post.comments()) { %> 
			<ul>
				<% post.comments().forEach(function(comment){ %>
					<li><a href=<%="#users/"+comment.user().get('id')%>><%= comment.user().get('username') %>:</a> <%= comment.get('content') %> </li>
				<%	}); %>
			</ul>

			<% } else { %>
			<p>There are no comments at this time.</p>
				<% } %>
		</div>

	</div>

	
