<!DOCTYPE html>
<html>
<head>
  <title>TrakMyRun</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
	<body class="main-background">

	<%= render "layouts/header" %>
	<%= yield %>

	</body>
	<%= javascript_include_tag 'application'%>
	<%= filepicker_js_include_tag %>
	<%if current_user %> 
		<script>
			window.TrakMyRun.CurrentUser = <%= current_user.id %>
			filepicker.setKey('A4B3VdZ8XT4GGoDJmELANz');
		</script>
	<% end %>

</html>
